services:
  # 1. Serviço do Banco de Dados PostgreSQL
  centroautomotivo_db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: automotivo_db
    ports:
      - "5434:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d automotivo_db"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  # 2. Serviço da API (Backend Node/Express)
  api:
    build:
      context: ./server
      dockerfile: Dockerfile
    image: automotivo-api
    command: sh -c "npx prisma generate && npx prisma migrate deploy && npm run db:seed && npm run dev"
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgresql://user:password@centroautomotivo_db:5432/automotivo_db
      PORT: 3000
      NODE_ENV: development
      NODE_OPTIONS: "--max-old-space-size=2048"
    depends_on:
      centroautomotivo_db:
        condition: service_healthy
    volumes:
      - ./server:/app/server
      - /app/server/node_modules
    networks:
      - app-network

  # 3. Serviço do Frontend (React + Vite)
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    image: automotivo-client
    ports:
      - "5173:5173"
    environment:
      VITE_API_URL: http://localhost:3000
      NODE_OPTIONS: "--max-old-space-size=2048"
    volumes:
      - ./client:/app/client
      - /app/client/node_modules
    depends_on:
      - api
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge